body {
  height: 100vh;
  /* margin: 0; Untuk menghilangkan margin default */
  margin-bottom: 56px;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #9fa6b2;
}

#informasi,
#peta,
#berita,
#data,
#edukasi,
#pelaporan {
  padding-top: 60px;
}
#informasi h3,
#peta h3,
#berita h3,
#data h3,
#edukasi h3,
#pelaporan h3 {
  color: #006699;
}
:root {
  --primary: #00d0ff;
  --bg: #010101;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/pavel-neznanov-_5xPUs78LpU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(
    rgb(255, 255, 255) 85%,
    rgba(255, 255, 255, 0)
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
  padding: 1.4rem 7%;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 70px;
}
.hero .content h3 {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px, 1px, 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h3 span {
  color: #006699;
}

.hero .content .p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  color: #010101;
  text-shadow: 1px, 1px, 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.news-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.news-item {
  flex: 0 0 auto;
  margin-right: 20px;
  max-width: 300px; /* Atur lebar maksimum card */
}
.news-item img {
  width: 100%; /* Agar gambar sesuai lebar card */
  height: auto; /* Untuk menjaga aspek rasio */
  max-height: 200px; /* Atur tinggi maksimum gambar */
  object-fit: cover; /* Menjaga gambar tetap berproporsi */
}
.news-content {
  padding: 10px;
}
.card-text {
  overflow: hidden; /* Mengatur konten berita agar tidak keluar dari card */
  text-overflow: ellipsis; /* Jika konten berita terlalu panjang, maka akan ditampilkan elipsis */
  white-space: nowrap; /* Menghindari wrap teks */
}

#abu {
  background-color: #9fa6b2;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-5,
.col-sm-10,
.col-md-6,
.col-sm-12 {
  display: flex;
}

.col-md-5 p,
.col-sm-10 p,
.col-md-6 p,
.col-sm-12 p {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
